
a {
    text-decoration: none;
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
}

button{
    border: none;
    outline: none;
    background: none;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden; /* prevent page shifting / horizontal scroll */
}

.container {
    position: relative;
    background-image: url('img/backgroundImg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
}

.mainLogo{
    width: 45%; 
    height: 45%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.body{
    height: 100%;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(210, 180, 140);
    width: 50%;
    height: 100vh;
    padding: 5px;
    padding-top: 50px;
    overflow-x: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 99;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.sidebarItemContainer {
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-bottom: 10px ;
    border-bottom: 1px solid rgb(111, 78, 55);
    width: 100%;
}

.sideBarItem{
    color: rgb(111, 78, 55);
    transition: 0.3s;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    font-weight: bold;
    align-items: center; 
}

.sideBarItem:hover{
    color: rgb(255, 255, 255);
}

.closeSBBtn{
  position: absolute;
  top: 0;
  left: 75%;
  color: rgb(111, 78, 55);
  font-size: 30px;
}

.openSBBtn{
    font-size: 30px;
    color: rgb(111, 78, 55);
    padding-left: 5px;
    padding-bottom: 10%;
    border: none;
    outline: none;
    background: none;
}

.userAuthBtn{
    font-size: 30px;
    color: rgb(111, 78, 55);
    padding-right: 5px;
    padding-bottom: 10%;
    border: none;
    outline: none;
    background: none;
}

.overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(138, 138, 138, 0.5);
            z-index: 98;
        }

.userAuthSideBar{
    position: fixed;
    top: 5%;
    right: 0;
    width: 30%;
    height: fit-content;
    background-color: rgb(210, 180, 140);
    overflow-x: hidden;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    border-radius: 0 0 0 10px;
    z-index: 99;
}

.userAuthSideBarItemContainer{
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-bottom: 10px ;
}

.userAuthSideBarItem{
    color: rgb(111, 78, 55);
    transition: 0.3s;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    font-weight: bold;
    align-items: center; 
}

.userAuthSideBarItem:hover{
    color: rgb(255, 255, 255);
}

.userAuthLine{
    height: 2px;
    background-color: rgb(111, 78, 55);
    width: 100%;
}

.mainLayout{
    width: 100%;
    height: 100%;
}

.imgBox{
    width: 100%;
}

.mainImg{
    width: 100%;
    height: 60%;
    margin-top: 2%;
    position: relative;
    margin-bottom: 25%;
    z-index: 1;
}

.inforBoxContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 5px;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 50vh;
    z-index: 2;
}

.inforBox{
    display: block;
    text-align: center;
    background: #F8E7D2;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.5s, box-shadow 0.5s;
    padding: 10px;
}

.inforBoxI{
    font-size: 100%;
}

.inforBoxP{
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}

.exploreNowBtnContainer{
    display: flex;
    justify-content: center;
}

.exploreNowBtn{
    background: rgb(210, 180, 140);
    color: #4A2C1B;
    border: none;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.footerImg{
    position: relative;
}

.footer{
    position: relative;
    background-image: url('img/footerImg.png');  /* Đường uốn lượn dạng SVG */
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 50px 20px 0px;
    text-align: center;
    color: white;
}

.footerInfo{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footerIconItem{
    margin-bottom: 30%;
}

.footerIcon{
    color: white;
    font-size: 2.5vh;
    padding-right: 4%;
}

.footerInfoItem{
    display: flex;
    width: 30vh;
    border-bottom: 1px solid white;
    padding: 5px;
}

.footerInfoP{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5vh;
    margin-bottom: 5%;
}

.exploreNowBtnContainerPc{
    display: none;
    justify-content: center;
}

.exploreNowBtnPc{
    background: rgb(210, 180, 140);
    color: #4A2C1B;
    border: none;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
    align-items: center;
    gap: 8px;
}

.mainImgPc{
    display: none;
}

@media (min-width: 360px) {
    .inforBoxContainer{
        top: 48%;
    }
}

@media (min-width: 375px) {

    .inforBoxContainer{
        top: 48%;
    }

    .inforBoxP{
        font-size: 80%;
    }

    .mainImg{
        margin-bottom: 30%;
    }

    .footerIcon{
        font-size: 150%;
        margin-top: 7%;
    }

    .footerInfoP{
        font-size: 80%;
    }
}

@media (min-width: 470px){

    .inforBoxContainer{
        top: 47%;
    }

    .inforBoxP{
        font-size: 70%;
    }

    .footerInfo{
        padding: 1%;
    }

    .mainImg{
        margin-bottom: 25%;
    }

    .inforBoxP{
        font-size: 100%;
    }

    .exploreNowBtn{
        font-size: 150%;
    }

    .footerIcon{
        font-size: 150%;
    }

    .footerInfoP{
        font-size: 100%;
    }
}



@media (min-width: 500px) and (max-width: 520px ) {
    .inforBoxContainer{
        top: 55vh;
    }

    .openSBBtn{
        font-size: 200%;
    }

    .userAuthBtn{
        font-size: 200%;
    }

    .inforBoxP{
        font-size: 15px;
    }

    .mainImg{
        margin-bottom: 35%;
    }
}

@media (min-width: 520px) and (max-width: 600px) {
    .inforBoxContainer{
        top: 57vh;
    }

    .openSBBtn{
        font-size: 250%;
    }

    .userAuthBtn{
        font-size: 250%;
    }

    .exploreNowBtn{
        font-size: 150%;
    }

    .inforBoxP{
        font-size: 15px;
    }

    .footerIcon{
        font-size: 150%;
    }

    .footerInfoP{
        font-size: 110%;
    }
}

@media (min-width: 600px) and (max-width: 700px){
    .inforBoxContainer{
        top: 75vh;
    }

    .openSBBtn{
        font-size: 250%;
    }

    .userAuthBtn{
        font-size: 250%;
    }

    .inforBoxP{
        font-size: 20px;
    }

    .mainImg{
        margin-bottom: 25%;
    }

    .exploreNowBtn{
        font-size: 140%;
    }

    .footerIcon{
        font-size: 200%;
    }

    .footerInfoP{
        font-size: 130%;
    }
}

@media (min-width: 700px){

    .inforBoxContainer{
        top: 85vh;
    }

    .openSBBtn{
        font-size: 400%;
    }

    .userAuthBtn{
        font-size: 400%;
    }

    .inforBoxI{
        font-size: 300%;
    }

    .inforBoxP{
        font-size: 140%;
    }

    .mainImg{
        margin-bottom: 33%;
    }

    .exploreNowBtn{
        font-size: 250%;
    }

    .footer{
        padding: 70px 20px 0px;
    }

    .footerInfoItem{
        width: 150%;
    }

    .footerIcon{
        font-size: 250%;
    }

    .footerInfoP{
        font-size: 150%;
    }
}

@media (min-width: 800px){

    .inforBoxContainer{
        top: 75vh;
    }

    .openSBBtn{
        font-size: 400%;
    }

    .userAuthBtn{
        font-size: 400%;
    }

    .inforBoxI{
        font-size: 300%;
    }

    .inforBoxP{
        font-size: 140%;
    }

    .mainImg{
        margin-bottom: 20%;
    }

    .exploreNowBtn{
        font-size: 250%;
    }

    .footerIcon{
        font-size: 300%;
    }

    .footerInfoP{
        font-size: 170%;
    }
}

@media (min-width: 912px){

    .inforBoxContainer{
        top: 75vh;
    }

    .openSBBtn{
        font-size: 400%;
    }

    .userAuthBtn{
        font-size: 400%;
    }

    .inforBoxI{
        font-size: 300%;
    }

    .inforBoxP{
        font-size: 140%;
    }

    .mainImg{
        margin-bottom: 20%;
    }

    .exploreNowBtn{
        font-size: 250%;
    }

    .footerIcon{
        font-size: 300%;
    }

    .footerInfoP{
        font-size: 180%;
    }
}

@media (min-width: 1024px){

    .inforBoxContainer{
        top: 85vh;
    }

    .openSBBtn{
        font-size: 400%;
    }

    .userAuthBtn{
        font-size: 400%;
    }

    .inforBoxI{
        font-size: 300%;
    }

    .inforBoxP{
        font-size: 160%;
    }

    .mainImg{
        margin-bottom: 20%;
    }

    .exploreNowBtn{
        font-size: 300%;
    }

    .footer{
        padding: 90px 20px 0px;
    }

    .footerIcon{
        font-size: 350%;
    }

    .footerInfoP{
        font-size: 200%;
    }
}

@media (min-width: 1280px) {

    .sidebar{
        display: none;
    }

    .container {
        width: 100vw;
        left: 0;
        right: 0;
        max-width: 100%;
        background-image: url(img/backgroundImgPc.png);
    }

    .mainImg{
        display: none;
    }

    .openSBBtn{
        display: none;
    }
    
    .exploreNowBtn{
        display: none;
    }

    .imgBox{
        display: flex;
    }

    .userAuthBtn{
        padding-bottom: 0;
        font-size: 40px;
    }

    .inforBoxContainer{
        grid-template-columns: repeat(4, 1fr);
        position: unset;
        margin-top: 60%;
        z-index: 0;
    }

    .inforBox{
        position: relative;
        box-shadow: unset;
        background-color: unset;
    }

    .inforBox::after{
        content: '';
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 50px;
        background-color: #D2B48C;
    }

    .inforBoxP{
        font-size: 13.5px;
    }


    .userAuthSideBar{
        width: 10%;
        top: 10%;
    }

    .mainLogo{
        width: 25%;
        height: 25%;
    }

    .imgBox{
        width: 100%;
    }

    .mainImgPc{
        display: block;
        width: 50%;
        height: 50%;
        margin-bottom: 0;
        margin-top: 0;
        z-index: 0;
        right: 0;
    }

    .exploreNowBtnPc{
        display: inline-flex;
        font-size: 17px;
    }

    .exploreNowBtnContainerPc{
        display: flex;
        justify-content: center;
    }

    .footer{
        background-image: url(img/footerImgPc.png);
    }

    .footerInfoUL{
        display: flex;
        gap: 50px;
    }

    .footerInfo{
        padding: unset;
    }

    .footerInfoItem{
        border-bottom: unset;
        width: 200px;
    }

    .footerInfoP{
        font-size: 15px;
    }

    .footerIcon{
        font-size: 30px;
        margin-top: unset;
    }

    .footerIconContainer{
        display: flex;
        gap: 25px;
    }
}
